body {
  width: 100%;
  background-color: #232323;
  margin-top: 100px;
}
.wrapper {
  width: 1024px;
  margin: auto;
}

#output {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.gif {
  margin: 15px;
  width: 300px;
  overflow: hidden;
  text-align: center;
}

input[type="text"] {
  width: 70%;
  border: 1px solid #222;
  background: #fff;
  padding: 25px;
  font-size: 18px;
}

#searchBtn {
  width: 20%;
  background-color: blue;
  color: white;
  border: 0px;
  padding: 25px;
  font-size: 18px;
}
